/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
/** Colors!
====================== */
.button:hover,
.button--primary:hover,
.button--secondary:hover,
.button--secondary-variation:hover {
  background-color: #056f00;
}
.button--primary,
.button--secondary {
  padding: 6px 19px;
}
.button--primary {
  background-color: #259b24;
  border-color: #056f00;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100%;
}
.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #259b24;
  overflow: hidden;
  z-index: 1;
}
.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0 auto;
}
.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
}
.app-bar .logo {
  -webkit-flex: 1;
  -ms-flex: 1;
      flex: 1;
  font-size: 2em;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 60px;
}
.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}
.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
      flex-direction: row;
  z-index: 2;
}
.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}
.app-bar button img {
  width: 60px;
  height: 60px;
}
.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}
.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}
button.menu img {
  height: 24px;
  width: 24px;
}
.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.base,
p,
ul,
ol {
  font-size: 19px;
}
.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  overflow-y: scroll;
}
.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.app-bar,
.navdrawer-container,
main {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
}
.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}
.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-out;
}
.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}
.navdrawer-container ul li:before {
  content: none;
}
.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}
.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}
main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}
body {
  background-color: #f5f5f5;
}
main {
  padding-left: 15px;
  padding-right: 15px;
  /* now tables */
}
main article,
main aside {
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  padding: 20px 15px;
  margin-bottom: 7px;
}
main h2 {
  padding-top: .2em;
  font-size: 26px;
}
main table {
  /* tbody */
}
main table thead {
  background: transparent;
}
main table thead tr th {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: black;
  padding-left: 13px;
  border: 0px;
}
main table tbody {
  background: transparent;
}
main table tbody tr {
  background: transparent;
}
main table tbody tr td {
  border: 0px !important;
  font-size: 13px;
  vertical-align: top;
}
main table tbody tr td.admin {
  text-align: right;
}
main table tbody tr td.admin .button {
  margin-top: 6px;
}
@media (min-width: 1200px) {
  main table tbody tr td {
    padding: 6px 13px;
  }
}
main table tbody tr td:before {
  color: #424242;
  background-color: transparent;
  border: 0;
  font-size: 12px;
  font-weight: bold;
}
main table tbody tr:nth-child(odd):before,
main table tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.app-bar h1 {
  color: white;
  font-size: 24px;
  line-height: 60px;
  margin-top: 0;
  padding: 0;
  margin-left: 50px;
}
.app-bar h1 span {
  display: block;
  float: left;
}
.app-bar h1 .page-title:before {
  background: no-repeat url("/images/separator.svg") right center;
  background-size: contain;
  content: '';
  float: left;
  height: 64px;
  margin: 0 .4em 0 .4em;
  width: .4em;
}
.app-bar {
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.navdrawer-container {
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.navdrawer-container h4 {
  border-bottom: 2px solid #f5f5f5;
}
.navdrawer-container h4 img {
  width: 130px;
}
.navdrawer-container ul > li > a {
  color: #259b24;
}
@media all and (min-device-width: 1200px) {
  /** Larger Screens - desktops and tablets **/
  .app-bar {
    position: fixed;
  }
  .app-bar-container {
    display: block;
    height: 190px;
    max-width: 100%;
    position: relative;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #259b24;
  }
  .app-bar-container button.menu {
    position: absolute;
    left: 0;
  }
  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 60px;
    font-size: 46px;
  }
  .app-bar .logo img {
    width: 130px;
  }
  .app-bar-actions {
    float: right;
  }
  .app-bar:after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  main {
    max-width: 1100px;
    z-index: 2;
    position: relative;
    padding: 0;
    top: 70px;
    min-height: initial;
    background-color: transparent;
  }
  body {
    overflow-y: scroll;
  }
}
@media all and (min-device-width: 1200px) and (max-width: 800px) {
  .app-bar .logo {
    float: none;
    width: 100%;
    line-height: normal;
    text-align: center;
    padding-top: 36px;
  }
  .app-bar-container {
    height: auto;
  }
  .navdrawer-container {
    padding: 0 16px;
    overflow-y: auto;
  }
  .navdrawer-container li {
    -webkit-flex: 1;
    -ms-flex: 1;
        flex: 1;
    text-align: center;
  }
}
